<ion-header>
  <ion-toolbar>
    <ion-title>news-category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of data?.articles" (click)="onGoToNewsSinglePage(article)">
    <ion-img [src]="article.urlToImage"></ion-img>

    <ion-card-content>
      <ion-card-title>{{ article.title }}</ion-card-title>

      <!-- <p>{{ article.description }}</p> -->
    </ion-card-content>

  </ion-card>
</ion-content>
