<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="onGoToNews()">
      <ion-thumbnail slot="start">
        <img src="../../assets/images/news.png">
      </ion-thumbnail>
      <ion-label>
        <h4>News</h4>
        <ion-badge color="primary">Latest</ion-badge>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

    <ion-item (click)="onGoToCalculator()">
      <ion-thumbnail slot="start">
        <img src="../../assets/images/calculator.png">
      </ion-thumbnail>
      <ion-label>
        <h4>Calculator</h4>
        <ion-badge color="primary">Latest</ion-badge>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/images/corona.jpg">
      </ion-thumbnail>
      <ion-label>
        <h4>Corona</h4>
        <ion-badge color="primary">Latest</ion-badge>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
